.control-btns{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.ing-row{
    margin: 10px 0;
}

.add-ing{
    margin: 10px 0;
}

/* FORM VALIDATION STYLES */
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid #e73333;
}
