<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responive recipe-img-detail" >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" id='manage-dropdown' appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="addToCart()">Add to Cart</a></li>
        <li><a (click)="onEditRecipe()">Edit</a></li>
        <li><a (click)="onDeleteRecipe()">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
          {{ ing.name }} - {{ ing.amount }}
        </li>
      </ul>
  </div>
</div>